@import '~antd/dist/antd.css';
.logo{
	height:50px;
	line-height: 50px;
	color:black;
	text-align: left;
	padding-bottom:5px;
	font-weight:700;
}
.logo img{
	width:30px;
	margin:10px 20px;
}
.ant-menu-inline{
	border-right:none;
}
.ant-menu-item{
	height:px !important;
	line-height:26px !important;
	font-style: italic;
	font-weight:700;
}